body {
    margin: 0;
    margin-top: 51px;
    display:flex;
    justify-content: center;
    background-color: #282828;
}

#about-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:fantasy;
    font-size: xx-large;
    font-variant-caps: all-small-caps;
    /* width:550px; */
    border: 4px darkgray;
    border-style:ridge;
    background-color: #282828;
}
#delay-skip img {
    height: 130px;
    width: 130px;
}
#delay-skip button {
    z-index:auto;
    color:red;
    background-color: red;
}
#about-title h1 {
    font-family:fantasy;
    font-variant-caps: all-small-caps;
    color: goldenrod;
    margin-top: 30px;
    border-bottom: 1px solid goldenrod;
}

#about-text {
    color: goldenrod;
    font-family:fantasy;
    font-size: large;
    animation: fadeIn;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% {opacity: 1; }
}
.delay-0 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/* Welcome to the Top-51 */
.delay-a {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.delay-b {
    opacity: 0;    
    animation-name: fadeIn;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.delay-c {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 8s;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}
.delay-d {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 11s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.delay-d2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 15s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.delay-e {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 19s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.delay-f {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 23s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.delay-g {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 26s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#about-text h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px 0 25px 0;
    border-bottom: 1px solid gold;
}
#go-page1 {
    margin-top: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-variant-caps: all-small-caps;
    background-color: #424040;
    color: #fdf0a9;
    text-align: center;
    padding: 10px 40px;
}