body {
  margin: 0;
}

#top-nav-bar {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #451b1b;
  color: #fdf0a9;
  border-bottom: 1px dotted #fdf0a9;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  border: 3px solid rgb(253, 240, 169);
  background-color: #b00;
}

#artist-area {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: pink;
  margin-top: 120px;
}

#artist-card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: gray;
  width: 600px;
  height: 300px;
  border: 3px dotted #fdf0a9;
  border-radius: 5%;
  margin: 30px 10px;
}

img {
  height: 200px;
  margin-bottom: 10%;
  margin-left: 5%;
}